// <=========================================================================================================> //
// --- Обнуление --- //
// <=========================================================================================================> //

@import "nullstyle";

// <=========================================================================================================> //
// --- Заготовки --- //
// <=========================================================================================================> //

@import "variables";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

// <=========================================================================================================> //
// --- Шрифты --- //
// <=========================================================================================================> //

@import "../fonts";

// <=========================================================================================================> //
// --- Основной блок --- //
// <=========================================================================================================> //

body {
  margin: 0;
  min-height: 100%;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

h1 {
  font-family: $fontFamilyFactor;
  font-weight: 500;
  font-size: 124px;
  line-height: 1.2em;
  letter-spacing: -0.0124em;
  color: $dark;
}

h2 {
  font-family: $fontFamilyFactor;
  font-weight: 500;
  font-size: 68px;
  line-height: 1.3em;
  letter-spacing: -0.0124em;
  color: $dark;
}

h3 {
  font-family: $fontFamilyFactor;
  font-weight: 700;
  font-size: 32px;
  line-height: 1em;
  letter-spacing: -0.0124em;
  color: $dark;

  @media (max-width: $md3) {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-family: $fontFamilyFactor;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: -0.0124em;
  color: $dark;
}

#main {
  height: 100%;
}

.btn {
  position: relative;
  padding: 17px 28px;
  font-family: $fontFamilyGilroy;
  font-weight: 600;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.01em;
  border-radius: 2px;

  @media (max-width: $md3) {
    padding: 12px;
  }
}
