// <=========================================================================================================> //
// --- Заготовки --- //
// <=========================================================================================================> //

$maxWidth: 1280 + 30px;
$fontFamilyFactor: FactorA, sans-serif;
$fontFamilyGilroy: Gilroy, sans-serif;
$transition: all .3s ease;

// sizes

$md2: 991.98px;
$md3: 767.98px;
$md4: 669.98px;
$md5: 479.98px;

// colors

$dark: #333333;
$purple: #585CC6;
$purpleHover: #797DDF;

$grey: #8A8A8A;
$lightGrey: #E0E0E0;
$whiteButtonsHover: #C2C4FF;
$red: #EB5757;