@import "src/app/styles/variables";

.review-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    &:nth-child(1), &:nth-child(2) {
      margin-top: 34px;
    }

    @media (max-width: $md3) {
      &:nth-child(1) {
        margin-top: 16px;
      }
      &:nth-child(2) {
        margin-top: 20px;
      }
      margin-top: 20px;
    }
    margin-top: 24px;
  }
}