@import "src/app/styles/variables";

.header {
  height: 116px;
  background: #FFFFFF;

  @media (max-width: $md3) {
    height: 77px;
  }

  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    @media (max-width: $md3) {
      & button {
        padding: 9px 11px;

        svg {
          margin-right: 0;
        }
      }

      .avatar {
        width: 36px;
        height: 36px;
      }
    }

    h4 {
      font-family: $fontFamilyGilroy;
      font-weight: 700;
      font-size: 18px;
      line-height: 1em;
      @media (max-width: $md3) {
        font-size: 12px;
        line-height: 1.17em;
      }
    }
  }
}