@import "src/app/styles/variables";

.profile-page {
  // .profile-page__header
  &__header {
    margin-bottom: 40px;
    @media (max-width: $md3) {
      margin-bottom: 16px;
      font-size: 22px;
    }
  }
}