@import "src/app/styles/variables";

.profile-form {
  // .profile-form__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md3) {
      flex-direction: column;
      align-items: flex-start;

      & button:last-child {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
      }
    }
  }

  // .profile-form__photo
  &__photo {
    display: flex;
    align-items: center;
  }

  &__photo-wrapper {
    position: relative;
    cursor: pointer;
    transition: $transition;

    &:hover .profile-form__photo-preview {
      opacity: 1;
    }
  }

  &__photo-preview {
    pointer-events: none;
    position: absolute;
    height: 204px;
    width: 204px;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: $transition;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__photo-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: -2px;
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.08);
      transform: rotate(45deg) translateX(-50%);
      z-index: -10;
    }
  }

  // .profile-form__photo-changed
  &__photo-changed {
    margin-left: 16px;

    & p {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.0124em;
      color: $grey;
    }
  }

  &__upload-file {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: $purple;
    transition: $transition;

    @media (any-hover: hover) {
      &:hover {
        color: $purpleHover;
        transition: $transition;

        & svg path {
          transition: $transition;
          stroke: $purpleHover;
        }
      }
    }

    & svg {
      margin-right: 14px;
    }

  }

  // .profile-form__input-list
  &__input-list {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $md3) {
      margin-top: 24px;
      align-items: flex-start;
    }
  }

  // .profile-form__input-wrapper
  &__input-wrapper {
    max-width: 403px;
    width: 100%;

    @media (max-width: $md3) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      width: 100%;
      max-width: 100%;
    }

    &:last-child {
      width: 209px;
      @media (max-width: $md3) {
        width: 100%;
      }
    }
  }

  // .profile-form__dropdown-list
  &__dropdown-list {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $md3) {
      margin-top: 24px;
      align-items: flex-start;
    }
  }

  // .profile-form__dropdown-wrapper
  &__dropdown-wrapper {
    max-width: 403px;
    width: 100%;

    @media (max-width: $md3) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      width: 100%;
      max-width: 100%;
    }

    &:last-child {
      width: 209px;
      @media (max-width: $md3) {
        width: 100%;
      }
    }
  }

  // .profile-form__textarea-wrapper
  &__textarea-wrapper {
    margin-top: 32px;

    &--short {
      height: 100%;
      min-height: 54px;


      & textarea {
        height: 54px;
        min-height: 54px;
        font-family: $fontFamilyGilroy;
        @media (max-width: $md3) {
          min-height: 90px;
        }
      }
    }

    &--about {
      min-height: 118px;
      height: 100%;

      & textarea {
        height: 118px;
        min-height: 118px;
        font-family: $fontFamilyGilroy;
        @media (max-width: $md3) {
          min-height: 230px;
        }
      }
    }
  }

  // .profile-form__footer
  &__footer {
    margin-top: 45px;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $md3) {
      margin-top: 24px;
      justify-content: center;
      & button {
        width: 100%;
        display: inline-block;
      }
    }
  }

  // .profile-form__save-change
  &__save-change {
  }
}