@import "src/app/styles/variables";

.control-comment {
  padding: 0 0 24px 0;
  background: #F5F5F5;
  border-radius: 2px;
  height: 363px;

  @media (max-width: $md3) {
    height: 100%;
  }

  &--published, {
    background: #f8fff6;

    & .user-comment {
      background: #f8fff6;
    }
  }

  &--reject, {
    background: #FDEEEE;

    & .user-comment {
      background: #FDEEEE;
    }
  }

  &__action-bar {
    padding: 0px 24px 0px 24px;
    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: flex-end;

    @media (max-width: $md3) {
      & button {
        max-width: 108px;
        font-size: 14px;
        line-height: 18px;
        padding: 12px 6px;
      }
      padding: 0px 12px 0px 12px;
    }
  }

  &__control-button {
    display: flex;
    width: 340px;

    @media (max-width: $md3) {
      width: 100%;

      & button:after {
        height: 42px;
      }
    }

    & button:first-child {
      margin-right: 12px;
    }
  }

  // .action-bar__edit
  &__edit {
    & button {
      width: 52px;
    }

    @media (max-width: $md3) {
      margin-left: 12px;
    }

    &--btn {
      margin-left: -6px;
    }
  }


  &__feedback {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    @media (max-width: $md3) {
      & p {
        font-size: 16px;
        line-height: 18px;
      }
    }

    & svg {
      margin-right: 14px;
      @media (max-width: $md3) {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }

    &--published {
      color: #61BF4A;
    }

    &--reject {
      color: $red;
    }
  }
}