@import "src/app/styles/variables";

.recovery-password {
  &__button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    @media (max-width: $md3) {
      flex-direction: column;
      margin-top: 40px;
    }

    & button {
      &:first-child {
        margin-right: 12px;
      }

      @media (max-width: $md3) {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
        text-align: center;
        display: inline-block;
        &:last-child {
          display: none;
        }
      }
    }
  }
}