@import "src/app/styles/variables";

.user-page {
  // .user-page__header
  &__header {
    display: flex;
    justify-content: space-between;
  }

  // .user-page__dropdown
  &__dropdown {
    width: 163px;
  }

  // .user-page__user-list
  &__user-list {

  }
}

.user-list {
  margin-top: 38px;
  // .user-list__header
  &__header {
    border-radius: 6px;
    padding: 14px 24px;
    background: $lightGrey;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: #464E5F;
      text-align: left;
    }
  }

  // .user-list__name
  &__name {
    width: 274px;
  }

  // .user-list__information
  &__information {
    width: 492px;
  }

  // .user-list__status
  &__status {
    width: 140px;
  }

  // .user-list__list
  &__list {
    margin-top: 12px;
    // margin-bottom: 30px;
  }

  &__list-element {
    /*&:not(:last-child) {
      border-bottom: 1px dashed $lightGrey;
    }*/
  }
}