@import "src/app/styles/variables";

.avatar {
  height: 52px;
  width: 52px;


  & img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__camera {
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid $lightGrey;
  }
}